# Program 1 : Pandas Library

In [1]:
from pandas import *
from random import *

### Q1. Write a Pandas program to read a csv file from a specified source and print the first 10 rows.

In [2]:
diamond = read_csv('diamonds.csv')
diamond.head(10)

   carat        cut color clarity  depth  table  price     x     y     z
0   0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1   0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2   0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3   0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4   0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
5   0.24  Very Good     J    VVS2   62.8   57.0    336  3.94  3.96  2.48
6   0.24  Very Good     I    VVS1   62.3   57.0    336  3.95  3.98  2.47
7   0.26  Very Good     H     SI1   61.9   55.0    337  4.07  4.11  2.53
8   0.22       Fair     E     VS2   65.1   61.0    337  3.87  3.78  2.49
9   0.23  Very Good     H     VS1   59.4   61.0    338  4.00  4.05  2.39

### Q2. Write a Pandas program to read a dataset from diamonds DataFrame and modify the default columns values and print the  first 6 rows.

In [3]:
diamond1 = read_csv('diamonds.csv')
diamond1.columns= ['A','B','C','D','E','F','G','H','I','J']
diamond1.head(6)

      A          B  C     D     E     F    G     H     I     J
0  0.23      Ideal  E   SI2  61.5  55.0  326  3.95  3.98  2.43
1  0.21    Premium  E   SI1  59.8  61.0  326  3.89  3.84  2.31
2  0.23       Good  E   VS1  56.9  65.0  327  4.05  4.07  2.31
3  0.29    Premium  I   VS2  62.4  58.0  334  4.20  4.23  2.63
4  0.31       Good  J   SI2  63.3  58.0  335  4.34  4.35  2.75
5  0.24  Very Good  J  VVS2  62.8  57.0  336  3.94  3.96  2.48

### Q3. Write a Pandas program to select a series from diamonds DataFrame. Print the content of the series.

In [4]:
diamond['table']

0        55.0
1        61.0
2        65.0
3        58.0
4        58.0
         ...
53935    57.0
53936    55.0
53937    60.0
53938    58.0
53939    55.0
Name: table, Length: 53940, dtype: float64

### Q4. Write a Pandas program to create a new 'Quality?color' Series (use bracket notation to define the Series name) of the diamonds DataFrame.

In [5]:
diamond.insert(1,"Quality?Color","no color defined")
diamond

,carat,Quality?Color,cut,color,clarity,depth,table,price,x,y,z
0,0.23,no color defined,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,0.21,no color defined,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,0.23,no color defined,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,0.29,no color defined,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,0.31,no color defined,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,no color defined,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,0.72,no color defined,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,0.70,no color defined,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,0.86,no color defined,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,0.75,no color defined,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

### Q5. Write a Pandas program to find the number of rows and columns and data type of each column of diamonds Dataframe.

In [7]:
print("Total no of columns are :",len(list(diamond.columns)))
print("Total no of Rows are :",diamond['x'].count())

Total no of columns are : 11
Total no of Rows are : 53940

### Q6. Write a Pandas program to rename two of the columns of the diamonds Dataframe.

In [8]:
diamond.rename(columns={'x':'XX'},inplace=True)
diamond.rename(columns={'y':'YY'},inplace=True)
diamond

,carat,Quality?Color,cut,color,clarity,depth,table,price,XX,YY,z
0,0.23,no color defined,Ideal,E,SI2,61.5,55.0,326,3.95,3.98,2.43
1,0.21,no color defined,Premium,E,SI1,59.8,61.0,326,3.89,3.84,2.31
2,0.23,no color defined,Good,E,VS1,56.9,65.0,327,4.05,4.07,2.31
3,0.29,no color defined,Premium,I,VS2,62.4,58.0,334,4.20,4.23,2.63
4,0.31,no color defined,Good,J,SI2,63.3,58.0,335,4.34,4.35,2.75
...,...,...,...,...,...,...,...,...,...,...,...
53935,0.72,no color defined,Ideal,D,SI1,60.8,57.0,2757,5.75,5.76,3.50
53936,0.72,no color defined,Good,D,SI1,63.1,55.0,2757,5.69,5.75,3.61
53937,0.70,no color defined,Very Good,D,SI1,62.8,60.0,2757,5.66,5.68,3.56
53938,0.86,no color defined,Premium,H,SI2,61.0,58.0,2757,6.15,6.12,3.74
53939,0.75,no color defined,Ideal,D,SI2,62.2,55.0,2757,5.83,5.87,3.64

### Q7. Write a Pandas program to remove the second column of the diamonds Dataframe.

In [13]:
diamond.drop(['Quality?Color'],axis=1)

       carat        cut color clarity  depth  table  price    XX    YY     z
0       0.23      Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43
1       0.21    Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31
2       0.23       Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31
3       0.29    Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63
4       0.31       Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75
...      ...        ...   ...     ...    ...    ...    ...   ...   ...   ...
53935   0.72      Ideal     D     SI1   60.8   57.0   2757  5.75  5.76  3.50
53936   0.72       Good     D     SI1   63.1   55.0   2757  5.69  5.75  3.61
53937   0.70  Very Good     D     SI1   62.8   60.0   2757  5.66  5.68  3.56
53938   0.86    Premium     H     SI2   61.0   58.0   2757  6.15  6.12  3.74
53939   0.75      Ideal     D     SI2   62.2   55.0   2757  5.83  5.87  3.64

[53940 rows x 10 columns]

### Q8. Write a Pandas program to remove multiple rows at once (axis=0 refers to rows) from diamonds dataframe.

In [14]:
diamond1.drop([0,1,2],axis=0)

          A          B  C     D     E     F     G     H     I     J
3      0.29    Premium  I   VS2  62.4  58.0   334  4.20  4.23  2.63
4      0.31       Good  J   SI2  63.3  58.0   335  4.34  4.35  2.75
5      0.24  Very Good  J  VVS2  62.8  57.0   336  3.94  3.96  2.48
6      0.24  Very Good  I  VVS1  62.3  57.0   336  3.95  3.98  2.47
7      0.26  Very Good  H   SI1  61.9  55.0   337  4.07  4.11  2.53
...     ...        ... ..   ...   ...   ...   ...   ...   ...   ...
53935  0.72      Ideal  D   SI1  60.8  57.0  2757  5.75  5.76  3.50
53936  0.72       Good  D   SI1  63.1  55.0  2757  5.69  5.75  3.61
53937  0.70  Very Good  D   SI1  62.8  60.0  2757  5.66  5.68  3.56
53938  0.86    Premium  H   SI2  61.0  58.0  2757  6.15  6.12  3.74
53939  0.75      Ideal  D   SI2  62.2  55.0  2757  5.83  5.87  3.64

[53937 rows x 10 columns]

### Q9. Write a Pandas program to sort the 'cut' Series in ascending order (returns a Series) of diamonds Dataframe.

In [15]:
diamond['cut'].sort_index(ascending=True)

0            Ideal
1          Premium
2             Good
3          Premium
4             Good
           ...
53935        Ideal
53936         Good
53937    Very Good
53938      Premium
53939        Ideal
Name: cut, Length: 53940, dtype: object

### Q10. Write a Pandas program to sort the entire diamonds DataFrame by the 'carat' Series in ascending and descending order.

In [16]:
diamond.sort_values(by=['carat'],ascending=True,inplace=True)
diamond

,carat,Quality?Color,cut,color,clarity,depth,table,price,XX,YY,z
31593,0.20,no color defined,Premium,E,VS2,61.1,59.0,367,3.81,3.78,2.32
31597,0.20,no color defined,Ideal,D,VS2,61.5,57.0,367,3.81,3.77,2.33
31596,0.20,no color defined,Premium,F,VS2,62.6,59.0,367,3.73,3.71,2.33
31595,0.20,no color defined,Ideal,E,VS2,59.7,55.0,367,3.86,3.84,2.30
31594,0.20,no color defined,Premium,E,VS2,59.7,62.0,367,3.84,3.80,2.28
...,...,...,...,...,...,...,...,...,...,...,...
25999,4.01,no color defined,Premium,J,I1,62.5,62.0,15223,10.02,9.94,6.24
25998,4.01,no color defined,Premium,I,I1,61.0,61.0,15223,10.14,10.10,6.17
27130,4.13,no color defined,Fair,H,I1,64.8,61.0,17329,10.00,9.85,6.43
27630,4.50,no color defined,Fair,J,I1,65.8,58.0,18531,10.23,10.16,6.72
27415,5.01,no color defined,Fair,J,I1,65.5,59.0,18018,10.74,10.54,6.98

In [17]:
diamond.sort_values(by=['carat'],ascending=False,inplace=True)
diamond

,carat,Quality?Color,cut,color,clarity,depth,table,price,XX,YY,z
27415,5.01,no color defined,Fair,J,I1,65.5,59.0,18018,10.74,10.54,6.98
27630,4.50,no color defined,Fair,J,I1,65.8,58.0,18531,10.23,10.16,6.72
27130,4.13,no color defined,Fair,H,I1,64.8,61.0,17329,10.00,9.85,6.43
25998,4.01,no color defined,Premium,I,I1,61.0,61.0,15223,10.14,10.10,6.17
25999,4.01,no color defined,Premium,J,I1,62.5,62.0,15223,10.02,9.94,6.24
...,...,...,...,...,...,...,...,...,...,...,...
31601,0.20,no color defined,Premium,D,VS2,61.7,60.0,367,3.77,3.72,2.31
31598,0.20,no color defined,Very Good,E,VS2,63.4,59.0,367,3.74,3.71,2.36
14,0.20,no color defined,Premium,E,SI2,60.2,62.0,345,3.79,3.75,2.27
31599,0.20,no color defined,Ideal,E,VS2,62.2,57.0,367,3.76,3.73,2.33
31593,0.20,no color defined,Premium,E,VS2,61.1,59.0,367,3.81,3.78,2.32

### Q11. Write a Pandas program to filter the DataFrame rows to only show carat weight at least 0.3.

In [19]:
diamond[diamond['carat']>0.3].sort_values(by=['carat'],ascending=True)

,carat,Quality?Color,cut,color,clarity,depth,table,price,XX,YY,z
50645,0.31,no color defined,Very Good,E,SI1,63.0,57.0,544,4.29,4.32,2.71
41266,0.31,no color defined,Ideal,I,VS1,62.5,53.4,502,4.31,4.34,2.70
20392,0.31,no color defined,Good,H,VVS2,63.7,55.0,625,4.28,4.32,2.74
20395,0.31,no color defined,Very Good,G,VS1,62.8,58.0,625,4.27,4.30,2.69
68,0.31,no color defined,Premium,G,SI1,61.8,58.0,553,4.35,4.32,2.68
...,...,...,...,...,...,...,...,...,...,...,...
25999,4.01,no color defined,Premium,J,I1,62.5,62.0,15223,10.02,9.94,6.24
25998,4.01,no color defined,Premium,I,I1,61.0,61.0,15223,10.14,10.10,6.17
27130,4.13,no color defined,Fair,H,I1,64.8,61.0,17329,10.00,9.85,6.43
27630,4.50,no color defined,Fair,J,I1,65.8,58.0,18531,10.23,10.16,6.72
27415,5.01,no color defined,Fair,J,I1,65.5,59.0,18018,10.74,10.54,6.98

### Q12. Write a Pandas program to find the details of the diamonds where length>5, width>5 and depth>5.

In [20]:
diamond[diamond['depth']>5].sort_values(by=['depth'])

,carat,Quality?Color,cut,color,clarity,depth,table,price,XX,YY,z
4518,1.00,no color defined,Fair,G,SI1,43.0,59.0,3634,6.32,6.27,3.97
10377,1.09,no color defined,Ideal,J,VS2,43.0,54.0,4778,6.53,6.55,4.12
6341,1.00,no color defined,Fair,G,VS2,44.0,53.0,4032,6.31,6.24,4.12
16857,1.43,no color defined,Fair,I,VS1,50.8,60.0,6727,7.73,7.25,3.93
36503,0.30,no color defined,Fair,E,VVS2,51.0,67.0,945,4.67,4.62,2.37
...,...,...,...,...,...,...,...,...,...,...,...
53540,0.90,no color defined,Fair,G,SI1,72.9,54.0,2691,5.74,5.67,4.16
46679,0.99,no color defined,Fair,J,I1,73.6,60.0,1789,6.01,5.80,4.35
41918,1.03,no color defined,Fair,E,I1,78.2,54.0,1262,5.72,5.59,4.42
52860,0.50,no color defined,Fair,E,VS2,79.0,73.0,2579,5.21,5.18,4.09
52861,0.50,no color defined,Fair,E,VS2,79.0,73.0,2579,5.21,5.18,4.09

### Q13. Write a Pandas program to drop all non-numeric columns from diamonds DataFrame.

In [21]:
array=[]
for _ in diamond1.columns:
    if diamond1[_].dtype=='object':
        array.append(_)
diamond1.drop(columns=array,inplace=True)
diamond1

          A     E     F     G     H     I     J
0      0.23  61.5  55.0   326  3.95  3.98  2.43
1      0.21  59.8  61.0   326  3.89  3.84  2.31
2      0.23  56.9  65.0   327  4.05  4.07  2.31
3      0.29  62.4  58.0   334  4.20  4.23  2.63
4      0.31  63.3  58.0   335  4.34  4.35  2.75
...     ...   ...   ...   ...   ...   ...   ...
53935  0.72  60.8  57.0  2757  5.75  5.76  3.50
53936  0.72  63.1  55.0  2757  5.69  5.75  3.61
53937  0.70  62.8  60.0  2757  5.66  5.68  3.56
53938  0.86  61.0  58.0  2757  6.15  6.12  3.74
53939  0.75  62.2  55.0  2757  5.83  5.87  3.64

[53940 rows x 7 columns]

### Q.14 Write a Pandas program to calculate the mean of each numeric column of diamonds DataFrame.

In [22]:
diamond1.mean()

A       0.797940
E      61.749405
F      57.457184
G    3932.799722
H       5.731157
I       5.734526
J       3.538734
dtype: float64

### Q.15 Write a Pandas program to calculate count, minimum, maximum price for each cut of diamonds DataFrame.

In [26]:
diamond1.count()

A    53940
E    53940
F    53940
G    53940
H    53940
I    53940
J    53940
dtype: int64

In [25]:
diamond1.min()

A      0.2
E     43.0
F     43.0
G    326.0
H      0.0
I      0.0
J      0.0
dtype: float64

In [27]:
diamond1.max()

A        5.01
E       79.00
F       95.00
G    18823.00
H       10.74
I       58.90
J       31.80
dtype: float64

In [30]:
diamond.groupby('cut').max()

,carat,Quality?Color,color,clarity,depth,table,price,XX,YY,z
cut,,,,,,,,,,
Fair,5.01,no color defined,J,VVS2,79.0,95.0,18574,10.74,10.54,6.98
Good,3.01,no color defined,J,VVS2,67.0,66.0,18788,9.44,9.38,5.79
Ideal,3.50,no color defined,J,VVS2,66.7,63.0,18806,9.65,31.80,6.03
Premium,4.01,no color defined,J,VVS2,63.0,62.0,18823,10.14,58.90,8.06
Very Good,4.00,no color defined,J,VVS2,64.9,66.0,18818,10.01,9.94,31.80

In [31]:
diamond.groupby('cut').max()['price']

cut
Fair         18574
Good         18788
Ideal        18806
Premium      18823
Very Good    18818
Name: price, dtype: int64

In [35]:
diamond.groupby('cut').min()

,carat,Quality?Color,color,clarity,depth,table,price,XX,YY,z
cut,,,,,,,,,,
Fair,0.22,no color defined,D,I1,43.0,49.0,337,0.0,0.0,0.0
Good,0.23,no color defined,D,I1,54.3,51.0,327,0.0,0.0,0.0
Ideal,0.20,no color defined,D,I1,43.0,43.0,326,0.0,0.0,0.0
Premium,0.20,no color defined,D,I1,58.0,51.0,326,0.0,0.0,0.0
Very Good,0.20,no color defined,D,I1,56.8,44.0,336,0.0,0.0,0.0

In [36]:
diamond.groupby('cut').min()['price']

cut
Fair         337
Good         327
Ideal        326
Premium      326
Very Good    336
Name: price, dtype: int64

In [37]:
diamond.groupby('cut').count()

,carat,Quality?Color,color,clarity,depth,table,price,XX,YY,z
cut,,,,,,,,,,
Fair,1610,1610,1610,1610,1610,1610,1610,1610,1610,1610
Good,4906,4906,4906,4906,4906,4906,4906,4906,4906,4906
Ideal,21551,21551,21551,21551,21551,21551,21551,21551,21551,21551
Premium,13791,13791,13791,13791,13791,13791,13791,13791,13791,13791
Very Good,12082,12082,12082,12082,12082,12082,12082,12082,12082,12082

In [38]:
diamond.groupby('cut').count()['price']

cut
Fair          1610
Good          4906
Ideal        21551
Premium      13791
Very Good    12082
Name: price, dtype: int64